<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617272379773-58ovbpq7bt214jdgaljp15rlaco86pn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617272379773-58ovbpq7bt214jdgaljp15rlaco86pn8</string>
	<key>API_KEY</key>
	<string>AIzaSyCoBj-miF9HJ0MWHzMnX6F_zTeA7FSmB5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>617272379773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.StateManagement</string>
	<key>PROJECT_ID</key>
	<string>rnapp-f9e80</string>
	<key>STORAGE_BUCKET</key>
	<string>rnapp-f9e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617272379773:ios:bc5d605d59818fd6dfe414</string>
</dict>
</plist>